.banner {
  background-color: var(--green-dark);
  background-image: url("/assets/top-background-mobile.svg");
  height: var(--banner-height-mobile);
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 0;

  @media screen and (min-width: 641px) {
    background-image: url("/assets/top-background-desktop.svg");
    height: var(--banner-height-desktop);
  };
}
