.banner {
  background-color: var(--green-dark);
  background: url("/assets/top-background-mobile.svg") no-repeat center center;
  background-size: cover;
  height: var(--banner-height-mobile);
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 0;

  @media not all and (hover: none) and (pointer: coarse){
    background: url("/assets/top-background-desktop.svg") no-repeat center center;
    background-size: cover;
    height: var(--banner-height-desktop);
  };
}
