.job-card {
  background-color: white;
  border-left: 5px solid white;
  border-radius: var(--base-radius);
  box-shadow: var(--base-shadow);
  box-sizing: border-box;
  cursor:pointer;
  display: flex;
  flex-direction: column;
  margin: 12px 0px;
  min-width: 305px;
  overflow: hidden;
  padding: 20px 20px 20px 15px;
  position: relative;
  width: 100%;

  &:hover {
    border-left: 5px solid var(--green-dark);
  }

  @media screen and (min-width: 641px) {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 40px 40px 15px;
  };

  .left-side {
    align-items: flex-start;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 641px) {
      align-items: center;
      box-sizing: border-box;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 24px;
      min-width: 362px;
      width: 40%;
    };
  }

  .info-wrapper {
    min-width: 250px;
  }

  .img-wrapper {
    height: 60px;
    margin-bottom: 14px;
    width: 60px;

    @media screen and (min-width: 641px) {
      height: 88px;
      margin-bottom: 0px;
      width: 88px;
    };
    img {
      height: auto;
      width: 60px;
      @media screen and (min-width: 641px) {
        width: 88px;
      };
    }
  }

  .company-wrapper {
    p {
      color: var(--green-dark);
      font-size: 14px;
      font-weight: 700;
      line-height: 15.68px;
      margin: 10px 0px;
      span {
        border-radius: 12px;
        color: white;
        font-size: 11px;
        line-height: 14px;
        margin: 4px;
        padding-left: var(--item-x-padding);
        padding-right: var(--item-x-padding);
        padding: 6px var(--item-x-padding) var(--item-y-padding) var(--item-x-padding);

        &:first-child {
          margin-left: 16px;
        }
      }
      .light {
        background-color: var(--green-dark);
      }
      .dark {
        background-color: var(--black-1);
      }
    }
  }

  .position {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    margin: 8px 0px;
  }

  .extra-info {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    @media screen and (min-width: 641px) {
      margin-bottom: 0px;
    };

    p {
      color: var(--gray-1);
      font-size: 15px;
      line-height: 24px;
      margin: 0px;
    }

    .dot {
      background-color: var(--gray-light-2);
      border-radius: 50%;
      height: 4px;
      width: 4px;
    }
  }

  .tags-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 14px;
    width: 100%;

    @media screen and (min-width: 641px) {
      justify-content: flex-end;
      width: 60%;
    };

    .tag {
      background-color: var(--green-dark-rgba-01);
      border-radius: 4px;
      color: var(--green-dark);
      cursor: pointer;
      font-size: 13px;
      font-weight: 700;
      letter-spacing: -0.1px;
      line-height: 24px;
      margin: 0px;
      padding: var(--item-y-padding) var(--item-x-padding);
      &:hover {
        color: white;
        background-color: var(--green-dark);
      }
    }
  }
}
