.search-bar {
  background-color: white;
  border-radius: var(--base-radius);
  box-shadow: var(--base-shadow);
  display: flex;
  height: 72px;
  justify-content: space-between;
  margin-bottom: 20px;
  overflow: hidden;
  width: 100%;
  input {
    border: none;
    color: var(--black-1);
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    margin-left: 20px;
    outline: none;
    width: 100%;
    &:focus::placeholder {
      color: transparent;
    }
    &::placeholder {
      color: var(--black-1);
      font-weight: 700;
    }

    @media screen and (min-width: 641px) {
      margin-left: 40px;
    };
  }

  .search-bar-button {
    background-color: inherit;
    border: none;
    color: var(--gray-light-1);
    cursor: pointer;
    font-size: 13px;
    font-weight: 700;
    line-height: 24px;
    padding: 0px 20px;
    &:hover {
      background-color: var(--green-light);
    }

    &:active {
      background-color: GhostWhite;
    }

    @media screen and (min-width: 641px) {
      padding: 0px 40px;
    };
  }
}
