// html, body, div, h1, h2, p, input, button {
//   margin: 0;
//   padding: 0;
// }

:root {
    --green-dark: #5CA5A5;
    --green-dark-rgba-01: rgba(92, 165, 165, .1);
    --green-light: #EFFAFA;
    --black-1: #2B3939;
    --gray-1: #7C8F8F;
    --gray-light-1: #C5C5C5;
    --gray-light-2: #B7C4C4;

    --item-y-padding: 4px;
    --item-x-padding: 8px;
    --text-padding: var(--item-y-padding) var(--item-x-padding);

    --base-radius: 5px;

    --search-height: 72px;

    --banner-height-mobile: 56px;
    --banner-height-desktop: 156px;

    --content-top-margin-mobile: calc((var(--banner-height-mobile) / 2) - (var(--search-height) - var(--banner-height-mobile)));
    --content-top-margin-desktop: calc((var(--banner-height-desktop) / 2) - (var(--search-height) - var(--banner-height-desktop)) / 2.5);

    --base-shadow: 0px 15px 20px -5px rgba(13, 113, 130, 0.15);

    --card-padding: 20px 20px 20px 15px;

    @media screen and (min-width: 641px) {
      --card-padding: 32px 32px 32px 27px;
    }
}

body {
  font-family: 'Spartan', sans-serif;
  font-weight: 500;
  color: var(--black-1);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--green-light);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
